div.card-content {
  width: 70%;
}

section.task{
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 1rem auto;
}

.card-content h1 {
  font-size: 2rem;
}

.card-content p {
  font-size: 1rem;
}

div.card-content div {
  display: flex;
  gap: 2rem;
}

.edit {
  color: var(--Yellow);
}

.remove {
  color: #000000;
}

@media (max-width: 700px) {
  section.task {
    width: 90%;
    gap: 3rem;
    /* flex-direction: column; */
  }
}
