main {
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

main div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 30%;
  padding: 3rem 0;
}

div.container a {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: .5rem 1rem;
}

main form {
  width: 70%;
}

form input {
  width: 100%;
}

form button {
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #3747ff;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

div#register {
  width: 55%;
  padding: 2rem 0;
}

div#register form {
  width: 90%;
}

div#register form .containerForm {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  width: 100%;
}

div#register .left, div#register .right {
  width: 90%;
}

.left div, .right div {
  position: relative;
}

@media (max-width: 700px) {

  main {
    padding: 2rem 0rem;
  }

  main div.container, div#register {
    width: 90% !important;
  }

  div#register .containerForm {
    flex-direction: column !important;
    gap: .5rem !important;
    align-items: center;
  }
}
